.ios, .md {

  page-about {

    .background {
      //background-image: url($company-home-page-background-image);
      background-color: $company-about-page-background-color;//#3F434C;
      background-size: cover;
      height: 105%;
      //margin-top: -20px;
      z-index: 0;
    }

    .app-version {
      font-size: 10px;
      margin-top: 50px;
      padding-bottom: 10px;
      //padding-left: 14px;
    }

    .app-author {
      font-size: 10px;
      margin-top: 0px;
      padding-bottom: 10px;
      //padding-left: 14px;
    }
  }

}
