<ion-header>

  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>{{ item.title }}</ion-title>

    <ion-buttons end>
      <button ion-button (click)="togglePin()">
        <ion-icon name="pin" [style.color]="pinned ? 'orange' : 'white'"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content>
  <img class="item-photo" [src]="itemImage.media">

  <div class="item-detail" padding>
    <div class="title">{{item.title}}</div>
    <p>{{item.description}}</p>
    <div *ngIf="item.size" class="size-section">{{item.size}}</div>
    <div *ngIf="item.price" class="price-section">£{{item.price}}</div>
    <div *ngIf="item.specialOffer" class="special-offer-heading">Special Offer:</div>
    <div *ngIf="item.specialOffer" class="special-offer-description">{{item.offerDescription}}</div>

    <!--
    <div class="comments-container">
      <div class="comment-count" (click)="showComments()">COMMENTS [{{commentCount}}]  </div>
      <div class="add-comment" (click)="addComment()">ADD COMMENT</div>
    </div>
    -->

    <!--
    <div *ngIf="displayComments">
      <div class="comment" *ngFor="let comment of comments; let i = index">
        <span class="comment-author">{{comment.userID}}:</span><br /> {{comment.comment}}
      </div>
    </div>
    -->
  </div>
</ion-content>
