// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/


$item-ios-sliding-content-background: transparent;
$item-md-sliding-content-background: transparent;
$list-border-color: transparent;
$toggle-ios-height: 25px;
$toggle-md-height: 25px;
$toggle-ios-background-color-on: black;
$fab-list-button-background-color: black;

$spinner-ios-crescent-color : white;

$fab-size : 100px;
$fab-mini-size : 100px;


$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  company-orange: #F6821F,
  company-yellow: #F7A900,
  company-blue: #3E7DCB,
  company-red: #D51957
);


// COMPANY COLORS
// ==============

// GREY SCHEME

$company-highlight-color: #FF696B;
$company-tabs-color: #434343;//#A49A99;//#009999;
$company-toolbar-color: #434343;//#006666;//#009999;
$company-home-page-background-image: '../assets/img/home_background.jpg';

$company-product-page-background-image: '../assets/img/welcome_background.jpg';
$company-product-page-background-color: #E8DDD9;//#004d4d;//#006666;
$company-product-page-button-color:$company-toolbar-color;
$company-product-page-list-background-color: $company-tabs-color;//#E8DDD9;//#004d4d;//#006666;
$company-product-page-list-font-color: white;

$company-offers-page-background-image: '../assets/img/welcome_background.jpg';
$company-offers-page-background-color: #E8DDD9;//#004d4d;//#006666;
$company-offers-page-button-color:$company-toolbar-color;
$company-offers-page-list-background-color: $company-tabs-color;//#E8DDD9;//#004d4d;//#006666;
$company-offers-page-list-font-color: white;

$company-pins-page-background-image: '../assets/img/welcome_background.jpg';
$company-pins-page-background-color: #E8DDD9;//#004d4d;//#006666;
$company-pins-page-button-color:$company-toolbar-color;
$company-pins-page-list-background-color: $company-tabs-color;//#E8DDD9;//#004d4d;//#006666;
$company-pins-page-list-font-color: white;

$company-contact-page-background-color: #E8DDD9;//#004d4d;//#006666;

$company-about-page-background-color: #E8DDD9;

$company-modal-background-color: $company-product-page-background-color;
$special-offer-heading-color: $company-highlight-color;
/*
// BLUE SCHEME
$company-highlight-color: #FF696B;
$company-tabs-color: #167DAB;//#009999;
$company-toolbar-color: #0F5A78;//#006666;//#009999;
$company-home-page-background-image: '../assets/img/welcome_background.jpg';
$company-product-page-background-color: #DDF2F3;//#004d4d;//#006666;
$company-product-page-list-background-color: $company-tabs-color;//#E8DDD9;//#004d4d;//#006666;
$company-product-page-list-font-color: white;
$company-contact-page-background-color: #DDF2F3;//#004d4d;//#006666;
$company-modal-background-color: $company-product-page-background-color;
*/
// NAV BAR / TOOL BAR
.toolbar-logo {
  max-height: 34px;
}
.back-button-ios {
  font-size: 1.6rem !important;
  font-weight: 100;
}
ion-header ion-icon.back-button-icon.icon{
  font-size: 1.6rem;
  margin-top: 0.1rem;
}
.navbar-fb-icon {
  height: 1.6rem;//25px;
  //margin-left: 0px;
  margin-right: 10px;
}
$toolbar-background: $company-toolbar-color;//$company-toolbar-gray;
//$navbar-ios-height: 60px;
//$toolbar-ios-height: 60px;
$toolbar-ios-button-font-size: 1.6rem;//25px;
$toolbar-ios-title-font-size: 1.6rem;
$toolbar-ios-title-font-weight: 100;
//$navbar-md-height: 60px;
//$toolbar-md-height: 60px;
$toolbar-md-button-font-size: 1.6rem;
$toolbar-md-title-font-size: 1.6rem;
$toolbar-md-title-font-weight: 100;


// TABS


$tabs-ios-border: solid 1px $company-toolbar-color;
$tabs-ios-tab-icon-color-active: #E8AAA9;//$company-toolbar-color;//black;//$company-blue;
$tabs-ios-tab-icon-color: white;
$tabs-md-tab-icon-color-active: #E8AAA9;//$company-toolbar-color;//black;//$company-blue;
$tabs-md-tab-icon-color: white;
$tabs-ios-tab-text-color-active: red;
$tabs-md-tab-text-color-active: red;
.ios, .md {
  .tab-button {
    color: white !important;
    background-color: $company-tabs-color;
    //margin-top: -1px; // Fixes thin white space above tab bar
  }
}

// TOGGLES
$toggle-ios-width: 38px;
$toggle-ios-height: 24px;


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
